*{
  background-color: aliceblue;  
}

.searchForm{
  display: flex;
  justify-content: center;
  padding: 20px; 
  height: 20px;
}

#recipeInput{
  background-color: white;
  height: 20px;
}

#searchButton{
  height: 27px;
  margin: 2px;
  border-radius: 10%;
  background-color: white;
  cursor: pointer; 
}

#searchButton:hover{
  background-color: beige;
}
.recipeList{
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

.recipe{
 display: flex;
 align-items: space-around;
 flex-direction: column;
 margin: 10px 10px;
}